@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	background-color: $dark
a:hover, a:active, a:focus
	text-decoration: none
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: #fff
	
.dark-section
	background-color: $dark
.green-section
	background-color: $accent

.img-responsive
	display: block
	max-width: 100%
	height: auto

.main-header
	height: 70px
	margin-bottom: 0
	&::after
		content: ''
		background-color: $accent
		width: 95%
		height: 1px
		margin-left: 2.5%
		display: inline-block
		transform: rotate(-2deg)
	.main-nav
		height: 100%
		width: 95%
		margin: 0 auto
		
	.icon_arrow
		//position: absolute
		right: 49%
		font-size: 50px
		line-height: 50px
		top: 0px
		transition: all .1s ease-out
		display: inline-block
		z-index: 100
		&:hover
			right: 49.9%
		a
			color: $accent
			transition: all .25s ease-out
			display: inline-block
			&:hover
				color: #fff
				font-size: 52px
				
ul.main-nav_list
	text-align: center
	margin: 0
	padding: 0
	list-style-type: none
	width: 100%
	padding-top: 20px
	//position: absolute

	//left: -1%
	li
		display: inline-block
		margin-right: 20px
		text-transform: uppercase
		font-size: 15px
		font-weight: 400
		a
			color: #FFF
			transition: color .25s ease-out
			padding-bottom: 3px
			&:hover
				text-decoration: none
				color: $accent
				border-bottom: 3px solid $accent
		&:nth-child(3)
			margin-left: -5px
			margin-right: 25px
			a
				&:hover
					border-bottom: none
		&.active
			a
				color: $accent
				border-bottom: 3px solid $accent
				cursor: default
		&:last-child
			margin-right: 0

.social_buttons
	position: absolute
	right: 0
	top: 30%
	display: inline-block
	height: 200px
	width: 50px
	background-color: transparent
	z-index: 2000

	a
		display: block
		border-bottom: 1px solid $accent
		border-left: 1px solid $accent
		line-height: 1
		padding: 10px 0
		transition: color .25s ease
		&:hover
			border-bottom-color: #fff
			i
				color: #fff
		&:first-child
			border-top: 1px solid $accent

		i
			font-size: 30px
			color: $accent
			transition: color .25s ease

.scroll_button a
  padding-top: 70px
  color: $accent
  opacity: .8
  transition: opacity .2s ease
  span.color_white
  	color: #fff
  &:hover
  	opacity: 1
  	span.scroll_button__border
  		border-color: $accent
  span.scroll_button__border
    position: absolute
    bottom: 100px
    left: 50%
    width: 24px
    height: 24px
    margin-left: -12px
    border-left: 3px solid $accent
    border-bottom: 3px solid #fff
    transform: rotateZ(-45deg)
    animation: sdb06 2s infinite
    box-sizing: border-box


@keyframes sdb06
  0%
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0)
    opacity: 0
  50%
    opacity: 1
  100%
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px)
    opacity: 0



			
.portfolio
	padding-top: 60px
	//margin-bottom: 30px
	text-align: center
	h1
		
		text-transform: uppercase
		font-weight: 500
		display: inline-block
.base
	img
		width: auto
		height: 300px
		overflow: hidden

.shape
  width: 300px
  height: 300px
  position: relative
  margin: 0 auto 50px
  .overlay
    display: block
    width: 310px
    height: 310px
    position: absolute
    top: -5px
    left: -5px
    transform: scale(1, 1)
    transition-timing-function: ease-out
    transition-duration: 0.6s
    z-index: 500
    pointer-events: none
    background-repeat: no-repeat
    &.round
      background: url(../img/round.png)
    &.hexagon
      background: url(../img/hexagon.png)
    &.pentagon
      background: url(../img/pentagon.png)
  &:hover
    .overlay
    	transform: scale(1.07, 1.07)
    	transition-timing-function: ease-out
    	transition-duration: 0.3s
      
    .bg
      
      background-color: $accent
      opacity: 0.8
      display: block
    .details
      
      opacity: 1
      z-index: 450
      display: block
  .bg, .details
    position: absolute
    width: 300px
    height: 300px
    display: table-cell
    vertical-align: middle
    text-align: center
    top: 0
    left: 0
    opacity: 0
    transition: all 0.3s ease
    display: none
  .bg
    background: #4b5a78
  .details
    span.heading
      font-family: 'Roboto Condensed', serif
      font-size: 30px
      display: block
      margin-top: 70px
      color: #fff
      text-decoration: none
    p
      font-family: 'Abel', sans-serif
      color: #fff
      width: 70%
      font-size: 14px
      margin: 0 auto
  a.button
    padding: 5px 15px
    font-family: 'Abel', sans-serif
    font-size: 14px
    border-radius: 20px
    background: #2f3644
    text-decoration: none
    color: #fff
    display: block
    width: 105px
    margin: 0 auto
    text-align: center
    margin-top: 15px
    transition: all .25s ease
    &:hover
      background: #fff
      color: #2f3644

.wrap-alignment-text

	transform: rotate(2deg)
	.skills-wrap
		margin-top: 40px
		text-align: center
		em
			font-family: 'tech-icons'
			font-size: 50px
			color: $dark
			margin-right: 10px
			line-height: 1

.skills
	height: 200px
	color: $dark
	transform: rotate(-2deg)
	width: 100%
	margin-bottom: 100px
	.skills-wrap
		transform: rotate(2deg)
		height: 65px
		
		em
			display: inline-block	
			transition: all .25s ease
			&:hover
				font-size: 60px
				color: #fff
.h2
	text-transform: uppercase
	font-weight: 700
	text-align: center	


.about_me
	height: 600px
	.about_me__text
		color: $accent


.hex
  position: relative
  width: 300px
  height: 173.21px
  margin: 86.60px 0
  background-image: url(../img/bg-3.jpg)
  background-size: auto 346.4102px
  background-position: center

.hexTop, .hexBottom
  position: absolute
  z-index: 1
  width: 212.13px
  height: 212.13px
  overflow: hidden
  -webkit-transform: scaleY(0.5774) rotate(-45deg)
  -ms-transform: scaleY(0.5774) rotate(-45deg)
  transform: scaleY(0.5774) rotate(-45deg)
  background: inherit
  left: 43.93px



.hexTop:after, .hexBottom:after
  content: ""
  position: absolute
  width: 300.0000px
  height: 173.20508075688775px
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px)
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px)
  transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px)
  -webkit-transform-origin: 0 0
  -ms-transform-origin: 0 0
  transform-origin: 0 0
  background: inherit

.hexTop
  top: -106.0660px
  &:after
    background-position: center top

.hexBottom
  bottom: -106.0660px
  &:after
    background-position: center bottom

.hex:after
  content: ""
  position: absolute
  top: 0.0000px
  left: 0
  width: 300.0000px
  height: 173.2051px
  z-index: 2
  background: inherit









@import "media" // Всегда в конце
