@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	background-color: $dark
a:hover, a:active, a:focus
	text-decoration: none
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: #fff




.color_white
	color: #fff	
.dark-section
	background-color: $dark
.green-section
	background-color: $accent
.accent
	color: $accent
.img-responsive
	display: block
	max-width: 100%
	height: auto

.main-header
	height: 70px
	margin-bottom: 0
	position: relative
	&::after
		bottom: -20px
		position: absolute
		content: ''
		background-color: $accent
		width: 100%
		height: 1px
		display: inline-block
		transform: rotate(-2deg)
	.main-nav
		height: 100%
		margin: 0 auto
		
.logo-icon
	position: absolute
	left: 10%
	top: 4px
	transition: all .1s ease-out
	display: inline-block
	z-index: 100
	.icon-logo
		display: inline-block
		width: 25px
		height: 35px
		margin-left: -12px
		border-left: 7px solid $accent
		border-bottom: 10px solid #fff
		border-radius: 5px
		transform: rotateZ(-45deg)
		box-sizing: border-box
		transition: all .25s ease-out
		&:hover
			border-color: $accent
	span
		font-size: 24px	

@keyframes animate-icon-logo
	0%
		border-bottom-color: #fff
		border-left-color: $accent
	50%
		border-bottom-color: $accent
		border-left-color: #fff
	100%
		border-bottom-color: #fff
		border-left-color: $accent
.icon-logo
	animation: animate-icon-logo 2s 5 linear alternate

.logo-icon.mobile
	position: static






				
ul.main-nav_list
	text-align: center
	margin: 0
	padding: 0
	list-style-type: none
	width: 100%
	padding-top: 20px
	//position: absolute

	//left: -1%
	li
		display: inline-block
		margin-right: 40px
		text-transform: uppercase
		font-size: 15px
		font-weight: 400
		position: relative
		a
			position: relative
			color: #FFF
			transition: all .25s ease-out
			padding-bottom: 3px
			border-bottom: 3px solid transparent

			&:before
				content: ''
				position: absolute
				bottom: 0
				width: 0%
				height: 2px
				background-color: $accent	
				border-radius: 3px
				transition: all .25s ease-out
			&:hover
				color: $accent
				&:before	
					width: 100%

		// &.active
		// 	a
		// 		color: $accent
		// 		cursor: default
		// 		&:before
		// 			width: 100%
		&:last-child
			margin-right: 0

.social_buttons

	position: fixed
	right: 0
	top: 30%
	height: 200px
	width: 50px
	background-color: transparent
	z-index: 20000
	transition: all .25s ease
	// display: none
	a
		display: block
		border-bottom: 1px solid $dark
		border-left: 1px solid $accent
		line-height: 1
		padding: 10px 0
		transition: color .25s ease
		background-color: $accent
		i
			font-size: 30px
			color: $dark
			transition: color .25s ease
		&:first-child
			border-top: 1px solid $accent
			border-radius: 5px 0 0 0 	
		&:last-child
			border-radius: 0 0 0 5px
			border-bottom-color: $accent
		&:hover
			border-bottom-color: #fff	
			i
				color: #fff


.scroll_button
	a
		padding-top: 30px
		color: $accent
		opacity: .7
		transition: opacity .2s ease
		display: inline-block
		&:hover
			opacity: 1

		span.scroll_button__border
			border-color: $accent

span.scroll_button__border
	position: absolute
	bottom: 60px
	left: 50%
	width: 24px
	height: 24px
	margin-left: -12px
	border-left: 3px solid $accent
	border-bottom: 3px solid #fff
	transform: rotateZ(-45deg)
	animation: sdb06 2s infinite
	box-sizing: border-box


@keyframes sdb06
	0%
		transform: rotateY(0) rotateZ(-45deg) translate(0, 0)
		opacity: 0
	50%
		opacity: 1
	100%
		transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px)
		opacity: 0


#my-menu
	z-index: 1000!important
#mm-blocker
	z-index: 10000	
.hamburger
	display: none
	position: absolute
	left: 0
	top: 34px
	z-index: 1001
	.hamburger-box
		width: 34px
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	width: 34px
	border-radius: 0
	color: #fff
	height: 2px
	background-color: #FFF

.mm-navbar 
	height: auto
	position: relative
	border: none
.mm-panel.mm-hasnavbar.mm-opened.mm-current

html.mm-opened
	overflow-y: scroll
.mm-panels > .mm-panel.mm-hasnavbar
	padding: 40px 0 0
.mm-listview > li:not(.mm-divider)::after
	display: none
.mm-menu.mm-theme-black .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview>li.mm-selected>span
	background-color: transparent	
	color: $accent		
.mm-panels>.mm-panel:after, .mm-panels>.mm-panel:before
	height: 0
.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview
	margin: 0

html.mm-opening.mm-menu.mm-opened[class*=mm-pagedim]~#mm-blocker
	opacity: 0
.mm-menu.mm-widescreen.mm-theme-black.mm-effect-menu-slide.mm-pagedim-black.mm-offcanvas.mm-right.mm-current.mm-opened
	opacity: .95
.mm-listview 
	> li
		> a
			transition: all .25s ease
			padding-left: 14%
			padding-right: 14%
			padding-top: 8px
			font-size: 18px
			text-transform: uppercase
			&:hover

				color: $dark
				background-color: $accent
				opacity: .7
				&::before
					color: $accent
			
		&.active
			&>a
				color: $accent

	
.go-to-top
	position: fixed
	width: 40px
	height: 40px
	bottom: 20px
	right: 20px
	display: none
	display: inline-block
	background-color: rgba(46,179,152,.7)
	border-radius: 4px
	cursor: pointer
	text-align: center
	z-index: 300
	display: none
	i
		font-size: 30px
		padding: 5px


section.portfolio
	padding-top: 60px
	margin-bottom: 100px
	text-align: center
	h1
		
		text-transform: uppercase
		font-weight: 600
		display: inline-block
// .base
// 	overflow: hidden

		

.shape
	width: 100%
	height: 100%
	position: relative
	margin: 0 auto 50px
	box-shadow: 2px 10px 30px rgba(2,2,2,0.35)
	transition: all .2s ease-out
	.overlay
		display: block
		width: 100%
		height: 100%
		position: absolute
		transition-timing-function: ease-out
		transition-duration: 0.6s
		z-index: 500
		pointer-events: none
		background-repeat: no-repeat

	&:hover	
		transform: scale(1.2)		
		.bg
			background-color: $accent
			opacity: 0.8
			display: block
		.details
			opacity: 1
			z-index: 450
			display: block
	.bg, .details
		position: absolute
		width: 100%
		height: 100%
		display: table-cell
		vertical-align: middle
		text-align: center
		top: 0
		left: 0
		opacity: 0
		transition: all 0.3s ease
	.bg
		background: #4b5a78
	
	a.button
		padding: 5px 15px
		font-family: 'Abel', sans-serif
		font-size: 14px
		border-radius: 20px
		background: #2f3644
		text-decoration: none
		color: #fff
		display: block
		width: 105px
		margin: 0 auto
		text-align: center
		margin-top: 15px
		transition: all .25s ease
		&:hover
			background: #fff
			color: #2f3644

.details
	span.heading
		font-size: 30px
		display: block
		color: #fff
		text-decoration: none
	p
		color: #fff
		width: 90%
		font-size: 14px
		margin: 0 auto
	&:hover
		cursor: default

.wrap-rotate-deg
	width: 100%
	text-align: center
	height: 100%



.skills
	position: relative
	min-height: 190px
	color: $accentText
	width: 100%
	padding-bottom: 30px
	margin-bottom: 100px
	padding-top: 30px
	

.skills-wrap-list
	min-height: 65px
	em
		display: inline-block	
		transition: all .25s ease
		font-family: 'tech-icons'
		font-size: 50px
		color: $accentText
		margin-right: 10px
		line-height: 1
		cursor: default
		&:hover
			transform: scale(1.4)
			color: #fff
.h2
	text-transform: uppercase
	font-weight: 500
	text-align: center	


@keyframes animate-icons
	0%
		transform: scale(1)
	50%
		transform: scale(1.1)
		opacity: .8
	100%
		transform: scale(1)			
.animate-icon._1
	animation: animate-icons 2s 5 ease-out alternate
.animate-icon._2
	animation: animate-icons 2s .5s 5 ease-out alternate
.animate-icon._3
	animation: animate-icons 2s 1s 5 ease-out alternate
.animate-icon._4
	animation: animate-icons 2s 1.5s 5 ease-out alternate
.animate-icon._5
	animation: animate-icons 2s 2s 5 ease-out alternate
.animate-icon._6
	animation: animate-icons 2s 2.5s 5 ease-out alternate
.animate-icon._7
	animation: animate-icons 2s 3s 5 ease-out alternate
.animate-icon._8
	animation: animate-icons 2s 3.5s 5 ease-out alternate
.animate-icon._9
	animation: animate-icons 2s 4s 5 ease-out alternate
.animate-icon._10
	animation: animate-icons 2s 4.5s 5 ease-out alternate

section.about_me
	margin-bottom: 100px
	.about_me__text
		color: #fff

.about_me__img
	border-radius: 3px
	box-shadow: 2px 10px 30px rgba(2,2,2,0.35)
	max-width: 80%
	margin: 0 auto 30px
	img

		border-radius: 3px
	



.personal-qualities
	min-height: 250px
	text-align: center
	
	margin-bottom: 100px
	font-family: roboto
	.wrap_qualities
		color: $accentText
		font-size: 16px
		text-transform: uppercase
		line-height: 1.3
		font-weight: 500
		margin-top: 20px
		margin-bottom: 20px
		display: inline-block
		i
			font-size: 40px
			padding: 10px 0
			display: block

.contacts

	.wrap_list
		text-align: center
	.contact_list
		list-style-type: none
		color: $accent
		text-align: left
		display: inline-block
		padding: 0
		a
			color: $accent
			font-family: roboto 
			font-weight: 500
			transition: color .25s ease
			i
				font-size: 17px
				display: inline-block
				margin-right: 10px
				&.fa-mobile
					padding-left: 4px
					font-size: 20px
			&:hover
				color: #fff		
	.contact_button_wrap
		text-align: center	
		margin-top: 30px				
		.contact_button
			display: inline-block
			text-align: center
			padding: 5px
			a
				color: $accent
				font-size: 42px
				margin-right: 15px
				transition: color .25s ease
				&:hover
					color: #fff
					i
						border-color: $accent
				&:last-child
					margin-right: 0
					i
						padding: 10px 
				i
					padding: 10px	5px
					border: 2px solid #fff
					border-radius: 3px
					transition: border-color .25s ease
				&:first-child 
					i
						padding: 10px 
.contact-logo_wrap
	margin-top: 30px
	margin-bottom: 60px
.box
	height: $box_h
	width: $box_h
	overflow: hidden
	border-radius: 35px
	margin: 0 auto
	z-index: 1000
	&::after
		position: relative
		content: ''
		display: block
		top: 0
		left: 0
		width: 100%
		height: $view_h
		background: $accent
		// background: linear-gradient($origin, $color1 0%, $color2 25%, $color3 50%, $color2 75%, $color1 100%)
	
.logo
	> div
		position: absolute
		top: 50%
		left: 50%
		z-index: 2
		&.logo-dot
			border-radius: 10em
			border: 5px solid #fff
			right: 44%
			top: 63%
			left: auto

		&.letter_s
			border: none
			color: #2196F3
			font-size: 86px
			top: 0%
			left: 55%
		&.logo-m_0
			z-index: 3
	&-border
		width: 74%
		height: 74%
		border-radius: 10em
		margin-top: -37%
		margin-left: -37%
	&-m_0
		margin-left: -38%
		margin-top: -20%
		height: 40%
		border-radius: 3px 3px 0 0
		border: 5px solid $color0
		
	&-m_1
		margin-left: -42%
		margin-top: -8%
		width: 30%
		transform: rotate(60deg)
		border-radius: 0 5px 5px 0
		border: 5px solid $color2
	&-m_2
		margin-left: -29%
		margin-top: -8%
		width: 29%
		transform: rotate(-60deg)
		border-radius: 5px 0 0 5px
		border: 5px solid $color3
	&-m_3
		height: 40%		
		margin-top: -20%
		margin-left: -10%
		border-radius: 3px 3px 0 0
		border: 5px solid $color1
	&-circle
		width: 48%
		height: 48%
		border-radius: 10em
		margin-top: -24%
		margin-left: -24%
		display: none

@keyframes animateM_0
	0%
		transform: scale(0)
	5%
		transform: scale(1.1)
	12%
		transform: scale(1)	
	96%
		transform: scale(1)		
	98%
		transform: scale(1.1)
	100%
		transform: scale(0)
.logo-m_0
	animation: animateM_0 $duration infinite linear	alternate

@keyframes animateM_1
	0%
		transform: rotate(45deg)
	2%
		transform: rotate(60deg)
	4%
		transform: rotate(45deg)
	6%
		transform: rotate(60deg)
	92%
		transform: rotate(60deg)
	94%		
		transform: rotate(45deg)
	96%
		transform: rotate(60deg)
	98%		
		transform: rotate(45deg)
	100%
		transform: rotate(60deg)		
.logo-m_1		
	animation: animateM_1 $duration infinite linear	alternate
		
@keyframes animatebox
	0%
		transform: scale(1)
	2.5%
		transform: scale(1.1)
	5%
		transform: scale(1)
	92%
		transform: scale(1.1)

	94%	
		transform: scale(1)
		transform: rotate(90deg)
	96%
		transform: scale(1)
		transform: rotate(180deg)
	98%
		transform: scale(1.1)
		transform: rotate(360deg)
	100%
		transform: scale(1)
		transform: rotate(0deg)
.box
	animation: animatebox $duration*2 infinite linear	alternate
	

@keyframes animateS
	0%
		opacity: 0
		transform: scale(0)
	5%
		transform: scale(0)
		opacity: 0
	10%
		transform: scale(1.3)
		opacity: 1		
	15%
		transform: scale(1)
	95%
		transform: scale(1)
		
	97%
		transform: scale(1.2)
		
	100%
		transform: scale(1)
.letter_s
	animation: animateS $duration 5 alternate				

@keyframes animatedot
	0%
		opacity: 0
	20%
		opacity: 0
	25%
		opacity: 1
	75%
		opacity: 1
	100%
		opacity: 0
.logo-dot
	animation: animatedot $duration 5 normal	



.main_form, .form_price
	button
		border: none
		color: #fff
		line-height: 40px
		padding: 0 25px
		font-size: 13px
		text-transform: uppercase
		margin-top: 10px
		margin-bottom: 30px
		float: left
		border: 1px solid transparent
		border-radius: 2px
		background-color: $accent
		&:hover
			border-color: $accent
			background-color: #FFF
			transition: all .25s ease
			color: $accent
.form-group
	display: block
	margin-bottom: 10px
	color: $accent
	.color_element
		font-weight: 700
		font-size: 14px

	.text-danger li
		font-size: 13px
		margin-top: 0px
		line-height: 13px
		display: block
		color: #FF6347
	.text-danger ul
		margin: 5px	0
		ul,
		li
			margin: 0
			padding: 0
			list-style-type: none
	input,
	textarea
		display: block
		width: 100%
		border: 1px solid #ccc
		margin-top: 5px
		line-height: 40px
		text-indent: 12px
		font-size: 14px
		opacity: .8
		background-color: transparent
	textarea
		line-height: 20px

.form_price
	input
		display: inline-block
		width: inherit

	button
		float: none
		padding: 0px 42px
	.phone_number
		margin-left: 14px




@import "media" // Всегда в конце
